header {
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header img {
    max-height: 30px;
    transform: rotate(-10deg);
  }

table{
    margin:auto;
}

#raderabuttons{
    display: flex;
    justify-content: center;
}

#varaform{
text-align: center;}

button{
    margin:10px;
}

#varor {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
  }
  
  #varor td, #varor th {
    padding: 8px;
  }
  
  #varor tr:nth-child(even){background-color: lightblue;}
    
  #varor caption {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #00468B;
    color: white;
  }

  #raderabuttons button {
    background-color: red;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  }

  #varaform button {
    background-color: green;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }

  #varaform {
    background-color: lightgray;
    margin:5px;
  }
